---
// https://docs.astro.build/en/guides/view-transitions/
import { ViewTransitions } from "astro:transitions";
import type { SiteSettingsResponse } from "../../queries/settings";
import type { ImageWithAlt } from "../../schema/image";
import type { LocationLink } from "../../schema/linkList";
import Footer from "../stories/widgets/Footer/Footer";
import Header, { type NavigationLink } from "../stories/widgets/Header/Header";
import type { ServiceCardResponse } from "../stories/widgets/ServiceCards/schema";
import {
  CONTACTFORM_ID,
  getInternalLinkLabel,
  getInternalLinkUrl,
  mapNavigationDropdown,
} from "../utils/mapping";

interface Props {
  title: string;
  description: string | null;
  image: ImageWithAlt | null;
  settings: SiteSettingsResponse;
  locations: LocationLink[];
  services: ServiceCardResponse[];
}

const { title, settings, locations, services } = Astro.props;

const headerLinks: NavigationLink[] = settings.links.map((link, i) =>
  mapNavigationDropdown(link, i + 1, locations, services)
);
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />

    <style is:global lang="scss">
      @use "./Page.scss" as *;
    </style>

    <!-- Google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />

    <title>{title}</title>
    <ViewTransitions />
  </head>
  <body>
    <div class="container">
      <Header
        links={headerLinks}
        contactLink={settings.headerButtonText
          ? { text: settings.headerButtonText, url: `#${CONTACTFORM_ID}` }
          : undefined}
        client:load
      />
      <main>
        <slot />
      </main>
      <Footer
        copyrightText={settings.copyrightText ? settings.copyrightText : ""}
        copyrightLinks={settings.copyrightLinks
          ? settings.copyrightLinks.map((l) => ({
              text: getInternalLinkLabel(l),
              url: getInternalLinkUrl(l),
            }))
          : []}
        enquiryCta={settings.footerButtonText
          ? { text: settings.footerButtonText, url: `#${CONTACTFORM_ID}` }
          : undefined}
        links={settings.linkGroups
          ? settings.linkGroups.map((group) => ({
              title: group.title,
              items: group.links.map((l) => ({
                text: getInternalLinkLabel(l),
                url: getInternalLinkUrl(l),
              })),
            }))
          : []}
        phoneNumbers={settings.phoneLinks
          ? settings.phoneLinks.map((l) => ({
              text: l.text ? l.text : l.phoneNumber,
              url: `tel:${l.phoneNumber}`,
            }))
          : []}
        client:idle
      />
    </div>
  </body>
</html>
